/* add styles here */
@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir-Book.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

.body {
  margin: 0 15px;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, serif;
}

.input-form {
  width: 100%;
  font-family: Avenir, serif;
  color: #3d4e61;
  border: 1px solid #e1e7ed;
  background-image: url(./images/Search.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  outline: none;
  margin-top: 22px;
}

.input-form-big {
  height: 22px;
  background-size: 19px;
  background-position: left 26px center;
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 62px;
  font-size: 16px;
}

.input-form-sm {
  height: 21px;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 33px;
  background-size: 11px;

  background-image: url(./images/Search.svg);
  background-repeat: no-repeat;
  background-position: left 13px center;
}

.input-form::placeholder {
  color: #3d4e61;
}

.input-form:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.input-form:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 900;
}
